<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/vanbora"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/Theme.Vanbora"
        tools:targetApi="31">


        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAYk7lMFAb_tZjVD1zcDlipBE-LyA4PqSI" />

        <activity
            android:name=".ui.activities.driver.EditarDadosVan"
            android:exported="false"
            android:label="@string/title_activity_editar_vans"
            android:theme="@style/Theme.Vanbora" />

        <activity
            android:name=".ui.activities.driver.SuasVansActivity"
            android:exported="false"
            android:label="@string/title_activity_suas_vans"
            android:theme="@style/Theme.Vanbora" />
        <activity
            android:name=".ui.activities.client.ContratoActivity"
            android:exported="false"
            android:label="@string/title_activity_contrato"
            android:theme="@style/Theme.Vanbora" />
        <activity
            android:name=".ui.activities.client.VisualizarContratosActivity"
            android:exported="false"
            android:label="@string/title_activity_visualizar_contratos"
            android:theme="@style/Theme.Vanbora" />
        <activity
            android:name=".ui.activities.client.EditarPerfilActivity"
            android:exported="false"
            android:label="@string/title_activity_editar_perfil"
            android:theme="@style/Theme.Vanbora" />
        <activity
            android:name=".ui.activities.client.EnviarContratoActivity"
            android:exported="false"
            android:label="@string/title_activity_enviar_contrato"
            android:theme="@style/Theme.Vanbora" />
        <activity
            android:name=".ui.activities.client.PerfilActivity"
            android:exported="false"
            android:label="@string/title_activity_perfil"
            android:theme="@style/Theme.Vanbora" />
        <activity
            android:name=".ui.activities.client.MotoristasActivity"
            android:exported="false"
            android:label="@string/title_activity_localize"
            android:theme="@style/Theme.Vanbora" />
        <activity
            android:name=".ui.activities.driver.VanComplements"
            android:exported="false"
            android:label="@string/title_activity_van_complements"
            android:theme="@style/Theme.Vanbora" />
        <activity
            android:name=".ui.activities.client.UserActivityComplements"
            android:exported="false"
            android:label="@string/title_activity_user_complements"
            android:theme="@style/Theme.Vanbora" />
        <activity
            android:name=".ui.activities.driver.DriverActivityComplements"
            android:exported="false"
            android:label="@string/title_activity_driver_complements"
            android:theme="@style/Theme.Vanbora" />
        <activity
            android:name=".ui.activities.global.SelectActivity"
            android:exported="false"
            android:label="@string/title_activity_select"
            android:theme="@style/Theme.Vanbora" />
        <activity
            android:name=".ui.activities.global.RegisterActivity"
            android:exported="false"
            android:label="@string/title_activity_register"
            android:theme="@style/Theme.Vanbora" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Vanbora">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>